/*  Colors  */

$orange: #ff9900;
$black: #2d2d2d;
$red: #ff3d00;

html {
  background: #1a1a1a;
  color: $orange;
}

input[type="text"]:focus {
  outline: none;
}

.title {
  color: $orange;
  margin-left: 1rem;
  margin-top: 1rem;

  font-family: ZCOOL KuaiLe;
  font-style: normal;
  font-weight: normal;

  padding-bottom: 2rem;
  img {
    position: relative;
    top: -4rem;
    left: 80%;
    transition: transform 400ms ease-in-out;
  }
  img:hover {
    filter: contrast(200%);
  }
  img:active {
    transform: scale(0.9);
  }
}

@mixin forms {
  width: 60vw;
  height: auto;
  min-height: 80vh;
  margin: auto;

  font-family: roboto;

  text-align: center;

  background: $black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  form {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    text-align: center;

    padding: 4%;

    color: $orange;
  }
  input {
    width: 30vw;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: solid black 1px;
    padding: 2%;
    margin: 1rem auto 1rem auto;
  }

  #submitBtn {
    width: 20vw;
    height: auto;
    color: #ffffff;
    background: $orange;
    border-radius: 4px;
    transition: transform 100ms ease-in-out;
  }
  #submitBtn:hover {
    filter: contrast(200%);
  }
  #submitBtn:active {
    transform: scale(0.9);
  }
  * {
    margin: 20px;
  }
}

.loginForm {
  @include forms;

  p {
    margin: auto auto 5% auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    color: #ffffff;
  }
  #link {
    font-family: Roboto;
    font-size: 1.4rem;

    color: $orange;
    text-decoration: none;
  }
}

.registerForm {
  @include forms;
  #link {
    margin: 10px 800px 10px 10px;
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
  }
}

.todoForm {
  width: 60vw;
  height: auto;
  min-height: 80vh;
  margin: auto;
  select {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    padding: 0.8rem 1rem 0.8rem 1rem;
    margin: 0.4rem;
    border: solid black 2px;
    border-radius: 8px;
    background: url("./assets/arrow.png") right center no-repeat;
    background-color: white;
    background-position: left center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    float: right;
  }
  input {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    margin-left: 1rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
    margin: 0.4rem;
    border: solid black 2px;
    border-radius: 8px;
  }

  .todo {
    margin: 1rem;
    width: 100%;
    height: 10vh;
    font-family: Roboto;

    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $black;
    border-radius: 8px;

    transition: transform 400ms ease-in-out;

    button {
      border: black solid 0px;
      background: $red;
      padding: 0.4rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      margin: 4px;
      color: white;
      font-weight: bold;
      opacity: 0;
    }

    #viewButton {
      border: black solid 1px;
      background: $orange;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      margin: 4px;
    }

    #todoName {
      margin-left: 2rem;
      margin-right: auto;
      font-weight: bold;
      font-size: 1.5rem;
    }
    #createdAt {
      margin: auto;
      font-family: Roboto;
      font-style: italic;
      font-weight: normal;
      font-size: 1.5rem;
    }
    #tasksCount {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      margin-left: auto;
      margin-right: 2rem;
    }
  }

  .todo:hover {
    transform: scale(1.02);
    button {
      opacity: 100;
      transition: transform 100ms ease-in-out;
    }
    button:hover {
      filter: contrast(200%);
    }
    button:active {
      transform: scale(0.9);
    }
  }

  #newList {
    position: fixed;
    top: 80%;
    left: 80%;
    width: 70px;
    height: 70px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid black 0px;
    border-radius: 50%;
    transition: transform 100ms ease-in-out;

    #hor {
      position: relative;
      bottom: -40%;
      margin: auto;
      align-self: flex-end;
      width: 50px;
      height: 1px;
      background-color: $orange;
      border: 5px solid $orange;
      border-radius: 10px;
    }
    #ver {
      position: relative;
      bottom: 10%;
      margin: auto;
      align-self: flex-end;
      width: 1px;
      height: 50px;
      background-color: $orange;
      border: 5px solid $orange;
      border-radius: 10px;
    }
  }

  #newList:hover {
    filter: contrast(200%);
  }
  #newList:active {
    transform: scale(0.9);
  }
}

.modal {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  #listName {
    width: 98%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0.4rem;
    padding: 0.3rem;
    border: solid black 0px;
    border-radius: 2px;
  }

  hr {
    width: 99%;
    color: $orange;
    border: 1px solid $orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  form {
    input {
      background: transparent;
      box-shadow: none;
      color: white;
    }
    input:focus {
      border-bottom: solid orange 2px;
    }

    #finished {
      border: solid black 2px;
      background: $black;
    }

    #taskName {
      width: 95%;
      height: auto;
      width: 95%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid orange 1px;
      margin-bottom: 0.6rem;
      transition: transform 100ms ease-in-out;
    }
    #taskName:focus {
      border-bottom: solid orange 2px;
    }
    #add {
      display: block;
      margin-left: 89%;
      background: $orange;
      border: solid black 0px;
      font-weight: 400;
      padding: 0.2rem 1rem 0.2rem 1rem;
      font-size: large;
      border-radius: 4px;
    }
    #add:hover {
      filter: contrast(200%);
    }
    #add:active {
      transform: scale(0.9);
    }
  }

  #remove {
    display: block;
    margin-left: 84%;
    background: $red;
    border: solid black 0px;
    font-weight: 400;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: large;
    border-radius: 4px;

    transition: transform 100ms ease-in-out;
  }

  #remove:hover {
    filter: contrast(200%);
  }
  #remove:active {
    transform: scale(0.9);
  }

  #cancel {
    position: fixed;
    top: 90%;
    right: 80%;
    border: none;
    background: transparent;
    padding: 0.4rem;
    margin: 4px;
    color: $orange;
    font-size: 2rem;
  }
  #cancel:hover {
    filter: contrast(200%);
  }
  #save {
    position: fixed;
    top: 90%;
    left: 80%;
    background: $orange;
    border: solid black 0px;
    border-radius: 4px;
    margin: 4px;
    padding: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 4px;
    color: white;
    font-size: 2rem;
  }
  #save:hover {
    filter: contrast(200%);
  }
  #save:active {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    img {
      left: 70%;
    }
  }
  .todoForm {
    width: 90%;
    * {
      font-size: 0.6rem;
    }
    .todo {
      #taskName {
        font-size: 0.5rem;
        margin-right: 0.5rem;
      }
      #createdAt {
        font-size: 0.7rem;
      }
      #tasksCount {
        font-size: 0.8rem;
      }
    }
    #newList {
      left: 70%;
    }
  }
  .modal {
    form {
      #add {
        margin-left: 80%;
      }
    }
    #cancel {
      right: 60%;
    }
    #save {
      left: 58%;
      font-size: 2rem;
    }
  }
}
